html{
    padding: 20px;
    background: url("textures/grunge.png");
}

#img_div{
    -moz-transform: none;
    -moz-transition: all 20s cubic-bezier(0.94, 0.20, 0.06,  0.06);
    box-shadow: 0px 0px 10px #000 inset;
    width: 500px;
    height: 500px;
    text-align: center;
    position: relative;
    z-index: 10;
    border: 10px royalblue solid;
    border-radius: 30px;
    display: inline-block;
    margin: auto;
    display: block;
    margin-top: 100px;
    position: relative;
}

#img_div img{
    -moz-transform: none;
    -moz-transition: all 20s ease-in-out;
    border-radius: 30px;
    border: 4px orangered solid;
    width: 250px;
    height: 250px;
    position: absolute;
    box-shadow: 0 0 5px 5px #000;
}
input[type="checkbox"]:checked ~ #img_div{
    -moz-transform: rotate(2000deg);
    border: 10px orange solid;
    box-shadow: 0px 0px 5px #000;
    border-radius: 50%;
}


input[type="checkbox"]:checked ~ #img_div img{
    -moz-transform: rotate(2000deg);
    border-radius: 50%;
}

.bottom-image{
    bottom: 0;
    right: 0;
}
.top-image{
    top: 0;
    left: 0;
}


label{
    background: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

label:active{
    box-shadow: 2px 2px 5px #000 inset;
}

#check{
    display: none;
}