#clock_container{
    position: relative;
}

[id$="_indic"]{
    height: 5px;
    position: absolute;
    top: 100px;
    left: 100px;
    box-shadow: 0 0 2px #000;
    -moz-transform-origin: left;
    font-size: 20px;
    text-align: right;
}

#hour_indic{
    width: 60px;
    background: red;
}

#second_indic{
    width: 80px;
    height: 3px;
    background: #000;
}

#min_indic{
    width: 75px;
    background: royalblue;
}