.menus-container a{
    background: cornflowerblue;
    width: 200px;
    color: white;
    border: 1px solid #1c7c95;
    display: block;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 0 2px #000;
    border-radius: 10px;
}

.menus-container a:hover{
    background: orangered;
}

.menus-container li, .menus-container ul{
    width: 200px;
    position: relative;
}
.menus-container li{
    list-style: none ;
}   

.menus-container li ul{
    display: none;
    position: absolute;
    right: -220px;
    top: 0;
}

li:hover > ul{
    display: block;
}
