html{
    background: #000;
    -moz-animation: bug_fix 10ms linear infinite;
}

@-moz-keyframes bug_fix{
    0% { background: #000}
    100% { background: #000001}
}

#sun{
    width: 150px;
    height: 150px;
    background: #fc0;
    border-radius: 50%;
    position: fixed;
    left: 40%;
    top: 30%;
    box-shadow: -25px -25px 30px orangered inset, 0 0 30px #fc0;
}

#earth{
    position: absolute;
    width: 100px;
    height: 100px;
    background: royalblue;
    border-radius: 50%;
    left: 25px;
    top: 25px;
    -moz-transform-origin: -180px;
    -moz-transform: translateX(230px);
    -moz-animation: earth_rotate 4s linear infinite;
    box-shadow: -10px -10px 15px rgba(0,0,0,0.5) inset
}

@-moz-keyframes earth_rotate{
    0% { -moz-transform: translateX(230px) rotate(0deg); }
100% { -moz-transform: translateX(230px) rotate(360deg); }
}

#moon{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #6b6b6b;
    border-radius: 50%;
    left: 25px;
    top: 25px;
    -moz-transform-origin: -75px;
    -moz-transform: translateX(100px);
    -moz-animation: moon_rotate 2s linear infinite;
    box-shadow: -5px -5px 15px rgba(0,0,0,0.5) inset;
}

@-moz-keyframes moon_rotate{
    0% { -moz-transform: translateX(100px) rotate(0deg); }
100% { -moz-transform: translateX(100px) rotate(360deg); }
}
